@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
  background: #F3F3F3;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #283747;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr 1fr));
    grid-template-rows: 1fr;
    text-align: center;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  padding: 5rem 0 2rem;
}

h2 {
    font-size: 5rem;
    color: #932432;
}

h4 {
  color: #283747;
}

h5 {
    font-size: 3rem;
    line-height: 4rem;
}

p {
    font-size: 1rem;
    padding-bottom: 4rem;
}

div img {
    padding: 10px;
    height: 326px;
    width: 300px;
    border-radius: 50%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283747;
  color: #000;
  padding: 0;
}

.brand-title a{
  text-decoration: none;
  color: #F3F3F3;
  font-size: 2.5rem;
  margin: 1rem;
}

.brand-title a:hover {
  color: #DE354C;
  transition: 0.3s;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
    font-size: 1.65rem;
  text-decoration: none;
  color: #F3F3F3;
  padding: 2rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #DE354C;
  transition: 0.3s;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.toggle-button .bar {
height: .3rem;
width: 100%;
background-color: #f3f3f3;
border-radius: .1rem;
}

#vic20 {
    font-size: 1.5rem;
    color: #3C1874;
}

#shatner {
  height: 36.76rem;
  width: 70rem;
  border-radius: 0;
}

#tech-use {
    background: #FFFFFF;
    padding: 7rem 0;
}

#tech-use-h2 {
    font-size: 3.5rem;
    padding: 2rem 0 4rem;
}

.container-skills {
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.top-skills {
    font-size: 1rem;
    padding: 1rem;
}

.fa-html5 {
    color: #E44D26;
}
  
.fa-css3-alt {
    color: #264de4;
}
  
.fa-js-square {
    color: #F0DB4F;
}

.fa-react {
    color: #61DBFB;
}

.fa-node {
    color: #68a063;
}

.learn-more {
    padding: 2rem 10rem;
    margin: 1rem 7rem;
    text-align: left;
}

.footer-container {
    display: grid;
    gap: .2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

  /* Buttons */

  .btn-learn {
    font-size: 3rem;
    background:  #DE354C;
    color: #F3F3F3;
    margin: 2rem 0 5rem;
  }

  .btn-learn:hover {
    background:  #DE354C;
    color: #F3F3F3;
    letter-spacing: .2rem;
  transition: 0.5s;
  }


  .resume-btn {
    font-size: 1.5rem;
    background:  #0072B1;
    color: #F3F3F3;
    margin-top: 2rem;
  }

  /* Footer */ 

footer {
  background: #283747;
  color: #F3F3F3;
}

footer div a {
  color: #F3F3F3;
  text-decoration: none;
}

footer div a:hover {
  color: #DE354C;
  transition: 0.3s;
}

.footer-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.social-icon {
    font-size: 2.5rem;
    padding: 4rem;
}
  
.footer-copyright {
  font-size: 1.25rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 7rem;
    padding: 4.75rem 1rem 0;
  }
}  


@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
    padding: 4.5rem 1rem 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
      font-size: 1.5rem;
  }
  h5 {
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  main div img {
    padding: 10px;
    height: 244px;
    width: 225px;
  }
  .container-skills {
    background: #FFFFFF;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
}

  .learn-more {
    padding: 0 1rem 1rem;
    margin: 2rem 3rem;
  }
  .toggle-button {
      display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    }
  .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .top-skills{
     font-size: .55rem;
   }
   .social-icon {
    font-size: 2.5rem;
    padding: 2rem;
  }
  #shatner {
    height: 18.38rem;
    width: 35rem;
  }
  #tech-use-h2 {
  padding: 1rem 0 2rem;
  color: #932432;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
      font-size: 1.5rem;
  }
  h5 {
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  .learn-more {
    padding: 0 1rem 1rem;
    margin: 2rem 3rem;
  }
  .toggle-button {
      display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    }
  .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .container div img {
    padding: 10px;
    height: 244px;
    width: 225px;
  }
  .top-skills{
     font-size: .45rem;
   }
   .social-icon {
    font-size: 2.5rem;
    padding: 2rem;
  }
  #tech-use-h2 {
  padding: 1rem 0 2rem;
  color: #932432
  }
  #shatner {
    height: 12.86rem;
    width: 25rem;
  }
}