@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron:wght@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%
}

body {
  background: #F3F3F3;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Monofett', cursive;
  /* font-family: 'Orbitron', sans-serif; */
  color: #3C1874;
}

h1 {
  font-size: 5rem;
  line-height: 1.25;
  text-align: center;
  /* padding: 10rem 8rem 2rem; */
  color: #DE354C;
  text-align: left;
  text-transform: uppercase;
}


h2 {
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
  /* padding: 10rem 8rem 2rem; */
<<<<<<< HEAD
=======
  color: #F3F3F3;
>>>>>>> 40cee7f6d03c215473b7d0e6261dabfbe9c7ef47
  text-align: left;
  text-transform: uppercase;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283747;
  color: #000;
  padding: 0;
}

.brand-title a{
  text-decoration: none;
  color: #F3F3F3;
  font-size: 3.5rem;
  margin: 1rem;
}

.brand-title a:hover {
  color: #DE354C;
  transition: 0.3s;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
    font-size: 2.65rem;
  text-decoration: none;
  color: #F3F3F3;
  padding: 1.25rem 2rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #DE354C;
  transition: 0.3s;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.toggle-button .bar {
height: .3rem;
width: 100%;
background-color: #f3f3f3;
border-radius: .1rem;
}

.showcase {
    width: 100%;
    padding: 0 75px;
    background: #f3f3f3;
    color: white;
    margin-bottom: 5rem;
    transition: .5s;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    opacity: 0.9;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
}

.brand span {
    color: #f3f3f3;
}

.wrapper {
    box-shadow: #3C1874;
}

.wrapper>* {
    padding: 1em;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #283747;
}

.contact h2 span {
    color: #0072B1;
}

.contact h2 span:hover {
    letter-spacing: .25rem;
    transition: 0.5s;
}


/* FORM STYLES */

.contact form {
    display: block;
    width: 100%;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    border: 1px solid #3C1874;
}

.contact form button {
  font-size: 2.5rem;
    background: #DE354C;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 2rem;
}

.contact form button:hover,
.contact form button:focus {
    background: #069123;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-out;
}

p button {
  font-size: 2rem;
}
p button:hover {
  letter-spacing: .25rem;
  transition: 0.5s;
}

/* Planet Contact */
#planet {
  font-size: 7rem;
}

.robot-welcome {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.robot {
  height: 20rem;
  width: 20rem;
  text-align: center;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }	
}


/* Footer */ 

footer {
  background: #283747;
  color: #F3F3F3;
}

.footer-container {
  display: grid;
  gap: .2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

footer div a {
  color: #F3F3F3;
  text-decoration: none;
}

footer div a:hover {
  color: #DE354C;
  transition: 0.3s;
}

.social-icon {
    font-size: 3rem;
    padding: 5rem;
}

.footer-copyright {
    font-size: 2rem;
}

@media(max-width:1000px) {

    .showcase {
        padding: 50px 2px 0px 2px;
    }

}

@media (max-width: 700px) {
  h1 {
    font-size: 3.5rem;
    text-align: left;
    padding: 6rem 2rem 1rem ;
  }

  h2 {
    font-size: 3rem;
  }

    .toggle-button {
      display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }

    .navbar-links li {
      text-align: center;
    }

    .navbar-links li a {
      padding: .5rem 1rem;
    }

    .navbar-links.active {
      display: flex;
    }

    .robot {
      height: 15rem;
      width: 15rem;
      text-align: center;
    }

    .contact h3 {
        font-size: 1.5em;
    }

    .footer-copyright {
      font-size: 1.25rem;
  }

    .social-icon {
      font-size: 2.5rem;
      padding: 2rem;
  }

}